.newTaskForm {
  display: flex;
  gap: 12px;
}
.newTaskForm__input {
  width: 100%;
  padding: 16px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.1);
  outline: none;
}
.newTaskForm__input:focus {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
  outline: 1px solid rgba(0, 0, 0, 0.3);
}
